<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Medinotiapp"
    tools:targetApi="31">
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
    <activity
        android:name=".ui.activities.SplashScreenActivity"
        android:exported="true"
        android:theme="@style/Theme.Medinotiapp.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Medinotiapp.NoActionBar" />
    <activity
        android:name=".ui.activities.medications.AddMedicationActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"
        android:exported="false" />
    <activity android:name=".ui.activities.medications.MedicationDetailActivity" />
    <activity android:name=".ui.activities.users.LoginActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"/>
    <activity android:name=".ui.activities.users.PerfilActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"/>
    <activity
        android:name=".ui.activities.medications.DailyMedicationsActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"
        android:exported="false"/>
    <activity
        android:name=".ui.activities.medications.WeeklyMedicationsActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"
        android:exported="false"/>
    <activity android:name=".ui.activities.reminders.NotiConfigActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"/>
    <activity android:name=".ui.activities.users.CambiarContrasenaActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"/>
    <activity android:name=".ui.activities.medications.MedicationsActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"/>
    <activity android:name=".ui.activities.users.RegisterUserActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"/>
    <activity android:name=".ui.activities.users.UserSelectionActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"
        android:exported="false"/>
    <activity android:name=".ui.activities.medications.EditMedicationActivity"
        android:exported="false"/>
    <activity
        android:name=".ui.activities.notebooks.NotebooksActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"
        android:exported="false"/>
    <activity
        android:name=".ui.activities.notebooks.NotebookDetailsActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"
        android:exported="false"/>
    <activity
        android:name=".ui.activities.notebooks.AddNoteActivity"
        android:theme="@style/Theme.Medinotiapp.NoActionBar"
        android:exported="false" />
</application>
</manifest>
