*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/codeStyles
/.idea/misc.xml
/android/FakeDependency.jar
.DS_Store
/build
/wrapper
/caches
/captures
/daemon
/native
.externalNativeBuild
.cxx
local.properties
